@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    cursor: default;
}

.playground {
    height: calc(100vh - 2rem);
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.functionInput {
    width: 3rem;
    border-radius: 5px;
}

.functionInput:focus {
    outline-style: none;
}

.funcInputText {
    width: 5rem;
    border-radius: 5px;
}
